<div class="card__container">
  <div class="card__header">
    <img class="card__img" src="https://csyxkpbavpcrhwqhcpyy.supabase.co/storage/v1/object/public/assets/coffee-challenge/cappuccino.jpg">
    <span class="card__tag">Popular</span>
  </div>
  <div class="card__body">
    <div class="card__info">
      <h3 class="card__title">Cappuccino</h3>
      <span class="card__price">$5.20</span>
    </div>
    <div class="card__footer">
      <span class="card__rate">
        <i>⭐</i>
        <span class="card__rating">4.7</span>
        <span class="card__votes">(65 votes)</span>
      </span>
      <span class="card__sold-out">Sold out</span>
    </div>
  </div>
</div>
